/* место для вашего кода */
/* header */
.header {
    width: 1052px;
    display: flex;
    justify-content: space-between;
    padding-top: 92px;
    padding-bottom: 93px;
    margin: auto;
}

.header__menu {
    display: flex;
}

.images_logo_black{
    width: 148px;
    max-height: 104px;
    margin-right: 150px;
}

.header__menu_list {
    margin-top: 44px;
    width: 391.48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: rgba(0, 0, 0, 1);
    box-sizing: border-box;
    align-items: center;
    white-space: nowrap;
    margin: 44px 0 40px 26px;
    list-style-type: circle;
}

.header__menu-link {
    font-family: 'Raleway',Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.13px;
    letter-spacing: 0.01em;
    color: #000000;
    border-bottom: 1px solid #000000;
}

.header__links-list-item_no-bullit {
    list-style: none;
    text-decoration: none;
    border-bottom: none;
}

.header__menu-item_active{
    font-family: 'Raleway',Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.13px;
    letter-spacing: 0.01em;
    color: #000000;
}

.header__menu_block {
    margin-top: 5px;
    margin-right: 25px;
}

.header__menu-item {
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    width: 67px;
    font-family: 'Raleway',Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}


.header__address {
    width: 240.52px;
    height: auto;
    line-height: 24.3px;
    font-family: 'Raleway',Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.3px;
}


.address_list {
    display: flex;
    flex-direction: column;
    line-height: 24.3px;
}

.address_list-items {
    width: 237px;
    font-family: 'Raleway',Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    list-style: none;
    width: 240px;
    max-height: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;
}

.header__menu-link {
    line-height: 1.2;
}


.content {
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
}

.overlay {
    position: absolute;
    width: auto;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    inset: 0;
}


.cover {
    margin: auto;
    position: relative;
    height: auto;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 165px 50px 50px;
    object-fit: cover;
}


.cover__title {
    font-family: 'Raleway',Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.accent-span {
    font-family: 'Raleway',Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    color: aliceblue;
    text-transform: uppercase;
    z-index: 1;
}

.start {
    display: flex;
    justify-content: flex-start;
    text-transform: uppercase;
    line-height: 115px;
}
.text-start,
.text-center,
.text-end {
    letter-spacing: 0.3em;
}
.solo {
    letter-spacing: 0.6em;
}

.center{
    display: flex;
    justify-content: center;
    align-self: center;
    line-height: 100px;
    margin-top: 20px;
}

.end {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    line-height: 100px;
    margin-top: 20px;
}

.description {
    margin-top: 135px;
    margin-bottom: auto;
}

.cover__description {
    display: flex;
    justify-content: end;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    gap: 79px;
    white-space: nowrap;
    list-style: none;
    text-decoration: none;
}

.cover__description-text {
    font-family: 'Raleway',Arial, sans-serif;
    font-style: normal;
    font-size: 22px;
    line-height: 28px;
    word-spacing: 0.84em;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 1;
}

.bet-button {
    font-family: 'Raleway',Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 12px 32px;
    z-index: 1;
}

.lots {
    position: relative;
    width: 1052px;
    height: auto;
    margin: auto;
    margin-top: 179px;
}

.lots__heading {
    font-family: 'Raleway',Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    color: #000000;
    margin-left: 40px;
}

.lots__card-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    list-style: none;
    margin-top: 27px;
    margin-bottom: 30px;
}

.lots__card-list-item{
    width: 334px;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    font-family: 'Raleway',Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26.4px;
    text-decoration-line: underline;
    text-underline-offset: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 51px 40px 0 40px;
    z-index: 2;
}

.card__text {
    font-family: 'Raleway',Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0px 40px 48px 40px;
    z-index: 2;
}

.lots__look-more-link {
    font-family: 'Raleway',Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin-left: 40px;
}


/* секция «Об аукционе» */
.about {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 146px 24px 0px 24px;
    margin: auto;
}

.about__column {
    display: inline-block;
}

.about__column.image_column {
    width: 334px;
    min-height: 595px;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-left: 47px;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #000000;

}

.about__logo-image {
    background-color: #000000;
    width: 141px;
    height: 112px;
}

.about__column.text_column {
    width: 693px;
    height: auto;
}

.about__title {
    margin-top: 136px;
    font-family: 'Raleway',Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    color: #000000;
}

.description_block {
    padding-top: 100px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway',Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    max-height: 500px;
}

.about_text {
    font-family: 'Raleway',Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    letter-spacing: 0.01em;
}


/* Подвал сайта */
.footer {
    display: flex;
    justify-content: space-between;
    padding: 180px 50px 88px 50px;
    width: auto;
    min-height: 98px;
}

.footer__menu {
    width: 149px;
    height: auto;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-decoration: none;
    align-items: center;
    white-space: nowrap;
}

.footer__menu-list-item {   
    font-family: 'Raleway',Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}

.footer__menu-link {
    text-decoration: none;
    border-bottom: 1px solid #000000;

}

.links {
    text-decoration: none;
    border-bottom: 1px solid #000000;
}

.footer__social-list-item {
    width: 240px;
    height: 48px;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
    flex: none;
    order: 0;
    flex-grow: 0;
}